*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    overflow: hidden;
}

html,body{
    width: 100%;
    height: 100%;
}

#background{
    display: flex;
    background-image: url('https://images.pexels.com/photos/4309369/pexels-photo-4309369.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

#nav{
    position: absolute;
    height: 15%;
    width: 100%;
    background-color:transparent;
    border-bottom: 1px solid rgba(245, 245, 245, 0.198) ;
}
#navcontent{
    width: 45%;
}
#navhead{
    position: absolute;
    top: 75%;
    display: flex;
    width: 45%;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
}

#navhead p{
    color: ivory;
    margin-bottom: 2px;
    
}

#navcontent hr {
    position: absolute;
    top: 98%;
    left: 215px;
    width: 6%;
    height: 2%;
    border: none;
    background-color:  rgba(255, 255, 0, 0.644);
}

#firstside{
    height: 100%;
    width: 45%;
    background-color: #272d2d8f;
}

#contentfmain{
    position: relative;
    top: 20;
    padding: 17%;
    color: white;
    font-weight: 300;
    top: 25%;
}


#contentfmain p{
    font-size: 50px;
    line-height: 85%;
}

#contentfmain hr:nth-child(1){
    padding:0.5%;
    width: 30%;
    margin-bottom: 10px;
    border: none;
    background-color: rgba(255, 255, 0, 0.644); 
}


#hr2{
    padding:0.5%;
    width: 30%;
    margin-top: 30px;
    border: none;
    background-color: rgba(255, 255, 0, 0.644);
    float: right;
    margin-right: 37px;
}

#menu{
    position: absolute;
    top:11%;
    left: 95%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    text-align: center;
}

#menu i{
    position: relative;
    top: 35.5%;
    color:rgb(255, 255, 0) ;
}
#secondside{
    width: 55%;
    height: 100%;
    background-color:transparent;
}

#p1{
    color: white;
    position: absolute;
    top: 30%;
    left: 91%;
    opacity: 40%;
}

#hr{
    position: absolute;
    top: 30%;
    left: 95%;
    opacity: 40%;
    height: 125px;

}

#p2{
    position: absolute;
    top:47.8%;
    left: 93.3%;
    height: 50px;
    width: 50px;
    color: white;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.212);
    padding: 1px;
}

#p2 p{
    margin-top: 12px;
}

#p3{
    color: white;
    position: absolute;
    top: 70%;
    left: 91%;
    opacity: 40%;
}
#hr2s{
    position: absolute;
    top: 55%;
    left: 95%;
    opacity: 40%;
    height: 125px;
}

#yellow{
    position: absolute;
    top: 99.7%;
    height: 0.3%;
    width: 95%;
    background-color:rgb(255, 255, 0) ;
}

#yellowbox{
    position: absolute;
    top: 92%;
    left: 95%;
    height: 8%;
    width: 5%;
    background-color:rgb(255, 255, 0) ;
    text-align: center;
}

#yellowbox i{
    position: relative;
    top: 35%;
    color: white;
    box-shadow: -2px 1px 16px 8px white;
}